<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: 2026 WebSpider Studios -->
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.2</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webspider</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>WebSpider_Legacy_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>WebSpider 3D File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MIXR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.webspiderstudios.webspider3d.file</string>
			</array>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>WebSpider 3D</string>
	<key>CFBundleGetInfoString</key>
	<string>${MACOSX_BUNDLE_LONG_VERSION_STRING}, WebSpider 3D</string>
	<key>CFBundleIconFile</key>
	<string>webspider_icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>${MACOSX_BUNDLE_GUI_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${MACOSX_BUNDLE_BUNDLE_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${MACOSX_BUNDLE_SHORT_VERSION_STRING}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MACOSX_BUNDLE_LONG_VERSION_STRING}</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.webspiderstudios.webspider3d.file</string>
			<key>UTTypeDescription</key>
			<string>WebSpider 3D File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconName</key>
				<string>WebSpider 3D File</string>
				<key>UTTypeIconText</key>
				<string>webspider</string>
			</dict>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webspider</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
