// SPDX-FileCopyrightText: 2026 WebSpider Studios
// SPDX-FileCopyrightText: 2026 WebSpider Studios
//
// SPDX-License-Identifier: GPL-2.0-or-later

#define IDR_VERSION1 1

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,4,0,0
PRODUCTVERSION 2,78,0,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "FileVersion", "1.4\0"
      VALUE "ProductVersion", "2.78\0"
      VALUE "FileDescription", "WebSpider 3D Thumbnail Handler\0"
      VALUE "OriginalFilename", "BlendThumb.dll\0"
      VALUE "ProductName", "WebSpider 3D\0"
      VALUE "LegalCopyright", "GPL2, 2024\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

